.hero-text h3 {
    color: var(--secondary-dt);
}

.hero-text p {
    margin-top: 10%;
    margin-bottom: 10%;
}

.hero-image {
    text-align: center;
}

.hero-image img {
    opacity: .7;
    border-radius: 5%;
    width: 30vw;
    min-width: 200px;
}

@media only screen and (max-width:480px) {
    .hero-button {
        display: none;
    }

    .hero-text {
        text-align: center;
    }

}



