.info-card {
    background-color: var(--main-dt);
    width: 20vw;
    min-width: 300px;
    text-align: center;
    place-self: center;
    border-radius: 25px;
    filter: drop-shadow(0px 0px 10px rgba(127, 198, 164, 0.5));
    padding: 3% 0 3% 0;
    margin-bottom: 15%;
}

.info-card ul {
    list-style: none;
    margin-left: -2rem;
    margin-top: 10%;
    margin-bottom: 10%;
}

.info-card ul li{
    margin-top: 5%;

}

.info-card h5 {

} 

.info-icon {
    width: 15%;
    padding: 3%;
}