.lg-project-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 5%
}

.lg-project-vid {
    width: 100%;
    margin-bottom: 5%;
}

.lg-project-video-container {
    align-self: center;
}

.lg-project-container {
    background-color: var(--main-dt);
    box-shadow: 0px 0px 25px #7FC6A4;
    border-radius: 25px;
    padding: 1% 4.16% 1% 4.16%;
    margin: 0 0 10% 0;
}

.lg-project-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 1%;
    flex-wrap: wrap;
    margin: 0 0 2.5% 0;
}

.lg-project-header p {
    margin: 2% 8% 0 8%
}

.lg-project-text {
}

.lg-project-text p {
    margin: 0 0 3% 0;
}

.lg-project-text h5 {
    color: var(--secondary-dt);
}

.lg-project-text ul {
    padding: 0;

}

.lg-project-text img {
    padding-right: 1rem;
}

.lg-project-keywords {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}