.sm-project-card {

    background-color: var(--main-dt);
    box-shadow: 0px 0px 15px #7FC6A4;
    border-radius: 25px;
    padding: 5%;
    text-align: center;
    width: 250px;
    margin-bottom: 15%;
}

