.form-input {
    width: 50%;
    padding: 5px;
    background: none;
    border: none;
    border-bottom: 1px solid var(--secondary-dt);
    outline: none;
    transition: border-color .2s;
    background-color: var(--light-text-dt);
    display: block;
    font-size: 1rem;
    margin: 0 auto 2% auto; 
    font-family: "Open Sans";
}

.contact-greeting {
    align-self: start;
}

.verification-message {
    text-align: center;
}

.verification-message h4 {
    color: var(--secondary-dt);
}

.message-container {
    height: 50vh;
}