.chart {
    text-align: center;
}

.chart img {
    width: 40%;
    min-width: 300px;
}

.skills-chart {
    text-align: center;
}

.skills-chart img {
    width: 100%;
}

@media only screen and (max-width: 480px) {
.content-section {
    margin: 3% 10% 3% 10%;
}
}

@media only screen and (max-width: 480px) {
    .content-section {
        text-align: center;
    }
}
    


.content-section p {
    margin: 3% 0 3% 0;
}

.content-section h4 {
    color: var(--secondary-dt);
}