.button {
    padding: 1rem 3rem;
    border-radius: 2rem;
    background-color: var(--contrast-dt);
    border: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
}